:root {
    --key-margin: 0.5vw;
    --text-distance: 2px;
    --key-length: calc((100% - var(--key-margin) * 11) / 10);
}

* {
    user-select: none;
}

body {
    font-size: 12px;
    margin: 0;
    overflow: hidden;
}

#keyboard {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    background-color: #444;
    padding-top: var(--key-margin);
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

div.row {
    display: flex;
    justify-content: center;
}

kbd {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    margin: var(--key-margin);
    margin-top: 0;
    display: inline-block;
    background-color: gray;
    color: white;
    width: var(--key-length);
    height: 0;
    padding-bottom: var(--key-length);
    position: relative;
    box-sizing: border-box;
    font-size: 2vw;
}

kbd+kbd {
    margin-left: 0;
}

kbd:hover {
    background-color: #666;
}

kbd div {
    position: absolute;
    left: var(--text-distance);
}

kbd .base {
    bottom: var(--text-distance);
}

kbd .shift {
    top: var(--text-distance);
}

kbd .jamo {
    font-size: 3vw;
    left: 0;
    width: 100%;
    text-align: center;
}

kbd .full {
    font-size: 6vw;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.shift kbd.ShiftLeft,
.shift kbd.ShiftRight {
    background-color: purple;
}

.shift kbd .jamo+.jamo {
    display: none;
}

.shift kbd .jamo.shift {
    bottom: var(--text-distance);
    top: initial;
}