:root {
    --key-margin: 5px;
}

body {
    font-size: 14px;
}

#keyboard {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    background-color: #444;
}

kbd {
    border: 1px solid black;
    padding: 5px;
    margin: var(--key-margin);
    display: inline-block;
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
}

kbd+kbd {
    margin-left: 0;
}

kbd:hover {
    background-color: #666;
}
